<% content_for :app do %>

  <nav  class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <%= render 'shared/top_bar_content' %>
  </nav>


  <div class="outer__profile">
    
    <div ng-controller="LeftBarController" ng-if="AuthService.currentUser" ng-init="init()" class="container__profile container__profile--left" style="overflow: hidden">
      <div class="sidebar">
        <ul class="nav navbar-nav side-nav side-nav-inverse">
          <% PROFILE["user-side"].each do |bar| %>
            <%= content_tag "li", 
            :class => active_class(send_or_nil(bar["path"], current_user)) do %>
              <%= link_to send_or_nil(bar["path"]) do %>  
              <%= bar["title"] %>
              <% if bar["angular"] %>
                <span class="badge pull-right">{{SideBar.<%=bar["angular"]%>()}}</span>  
              <% else %>
                <%= show_badge(quant_from_method(bar["badge"])) %>
              <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>


    <!-- <span ng-controller="ProfileController"> -->
      <div  class="container__profile container__profile--middle">
      
      <div class="tab__container"  ng-switch="SideBar.tabBarVisible">
        <div ng-switch-when="true">
          <div ng-include="'tab_bar.html'"></div> 
        </div> 
        <div ng-switch-when="false">
          <div ng-include="'empty_tab_bar.html'"></div> 
        </div> 
      </div>
        <ng-view></ng-view> 
      </div>
      <div class="container__profile container__profile--right" >
        <div ng-include="SideBar.rightBarTemplate"></div>
      </div>
    <!-- </span> -->
    
  </div>

<% end %>
