<%= render 'shared/top_bar' %>

<div class="email-form-landing">
  <h1 class="welcome-landing"> Welcome to Next Mission! </h1>

  <%= form_for(:email, :html => {:id => 'email-submit'}) do |f| %>
    <div class="email-input-container-landing">
      <div class="input-group">
        <%= f.text_field :email, :class => "form-control", :type => "email", :id => "email-field-landing" %>
        <span class="input-group-btn">
          <%= f.submit "Sign up!", :class => "btn btn-primary" %>
        </span>
      </div><!-- /input-group -->
    </div>
  <% end %>
</div>

<% content_for :content do %>
  <%= render 'layouts/signup_form' %>
<% end %>

<%= render 'shared/sign_up_modal' %>

