<div class="table-responsive">
  <table class="table table-condensed table__admin">
    <thead>
      <tr>
        <th><%= link_to_sort "ID", :sort => :id %></th>
        <th><%= link_to_sort "From", :sort => :entity %></th>
        <th><%= link_to_sort "To", :sort => :first_recipient %></th>

        <th><%= link_to_sort "Content", :sort => :content %></th>
        <th><%= link_to_sort "Date", :sort => :created_at  %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.id %></td>
          <td><%= link_to(message.entity.name, [:admin, message.entity])  %>
            <%="(#{message.entity.class.name[0]})" %>
          </td>
          <td>
            <%= link_to(message.first_recipient.name, [:admin, message.first_recipient])  %>
            <%="(#{message.first_recipient.class.name[0]})" %>

          </td>
          <td style="max-width: 400px"><%= message.content %></td>
          
          <td><%= message.created_at.to_formatted_s(:short)  %> </td>
          <td><%= button_to 'Delete', [:admin, message], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

