

<div class="table-responsive">
  <table class="table table-condensed table__admin">
    <thead>
      <tr>
        <th><%= link_to_sort "ID", :sort => :id %></th>
        <th>Associated Obj</th>
        <th><%= link_to_sort "Scorer", :sort => :scorer  %></th>
        <th><%= link_to_sort "Date", :sort => :created_at  %></th>
        <th><%= link_to_sort "Value", :sort => :score  %></th>
        <th><%= link_to_sort "Type", :sort => :type  %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @points.each do |point| %>
        <tr>
          <td><%= point.id %></td>
          <td><%= link_to(point.pointable_id, [:admin, point.pointable])  %>
            <%= "(#{point.pointable_type})" %>
          </td>
            <td><%= link_to(point.scorer.name, [:admin, point.scorer])  %></td>
          <td><%= point.created_at.to_formatted_s(:short)  %></td>
          <td><%= point.score %> </td>
          <td><%= point.type %> </td>
          <td><%= button_to 'Delete', [:admin, point.becomes(Point)], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>

        </tr>
      <% end %> </td>
    </tbody>
  </table>
</div>

