<div class="feed">
  <div class="feed__entry">
    <%= render partial: "me/shared/feed_input", :locals => {
      opt: {}
    } %>
  </div>
  <!-- <div class="contents__feed"> -->
  <% @posts.each do |post| %>
    <div class="feed__content-outer">
      <div class="feed__content">
        <%= render layout: "me/shared/feed_entry", :locals => {
          entity: post.entity,
          created_at: post.created_at,
          opt: {}
        } do %>
          <%= post.content %>
        <% end %>
      </div>
      <div class="feed__comment-outer">
        <div class="feed__comment-content feed__comment-input">
          <div class="feed__entry feed__entry--comment">
            <%= render partial: "me/shared/feed_input", :locals => {
              opt: {
                rows: 2, 
                id: "js-post-form-response",
                type: "Response",
                parent_id: post.id
              }
            } %>
          </div>
        </div>
        <% post.responses.each do |response| %>
          <div class="feed__comment-content">
            <div class="feed__content feed__content--comment">
              <%= render layout: "me/shared/feed_entry", :locals => {
                entity: response.entity,
                created_at: post.created_at,
                opt: {}
              } do %>
                <%= post.content %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<!-- </div> -->
