
  <div class="top__temp">
    <% if !flash.empty? %>
      <div class="flash">
        <%= flash[:notice] %>
        <%= flash[:error] %>
        <%= flash[:alert] %>
      </div>
    <% end %>`
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo__temp logo__temp--left">
            <%= image_tag 'logo_nm.png' %>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="text__temp">
            Military Veterans make great entrepreneurs
          </div>
        </div>
      </div>
    </div>
 
    <div class="container-fluid">
      <div class="row">
        <%= form_for(@email, :html => {:class => 'form__temp'}) do |f| %>
          <div class="email-input-container__temp">
            <div class="input-group input-group__email">
              <%= f.text_field :email, :class => "input__email", 
          :type => "email",
          :placeholder => "EMAIL"
        %>
              <span class="input-group-btn input-group-btn__email">
                <%= f.submit "SIGN UP FOR NEWS", :class => "btn btn-primary submit__email" %>
              </span>
            </div><!-- /input-group -->
          </div>
        <% end %>
      </div>
    </div>
    <a href="#info" class="nav-link">
      <div class="bottom-bar__temp">
        <%= fa_icon 'chevron-down' %>
      </div>
    </a>
  </div>
  <div id="info" class="nav-link lnd__bottom">
    <%= render 'layouts/landing_learn_v2' %>
    <!-- fluid-container -->
    <div class="lnd__bottom-bar">
      <div class="lnd__bottom-bar-inner">
      <div>
      <!-- Next Mission -->
    </div>
  </div>


