  <div class="feed__content-title">
    <div>
      <%= thumb(connection_entity, class: "thumb"){|t| image_tag t} if connection_entity %>
    </div>
    <div class="feed_content-follow">
      <%= follow_link(current_entity, connection_entity) %>
    </div>
  </div>
  <div class="feed__content-top">
    <%= "#{(link_to(connection_entity.name, connection_link(connection_entity))) if connection_entity} on #{formatted_date(created_at) }".html_safe %>
  </div>
  <div class="feed__content-body">
    <%= yield %>
  </div>
  <div class="feed__content-corner">
    <%= link_to "Comment", nil, :class => "js-feed-comment" %>
  </div>
