  <div class="feed__content-title">
    <div>
      <%= thumb(entity, class: "thumb"){|t| image_tag t} if entity %>
    </div>
    <div>
      <%= follow_link(current_user, entity) %>
    </div>
  </div>
  <div class="feed__content-top">
    <%= "#{(entity.name) if entity} on #{created_at.in_time_zone("Eastern Time (US & Canada)").strftime('%b %e, %l:%M %p') }" %>
  </div>
  <div class="feed__content-body">
    <%= yield %>
  </div>
  <div class="feed__content-corner">
    <%= link_to "Comment", nil, :class => "js-feed-comment" %>
  </div>
