  <div class="feed__content-title">
    <div>
      <%= thumb(connection_entity, class: "thumb"){|t| image_tag t} if connection_entity %>
    </div>
    <div class="feed_content-follow">
      <%= follow_link(current_entity, connection_entity) %>
    </div>
  </div>
  <div class="feed__content-top">
    <%= "#{(connection_entity.name) if connection_entity} on #{created_at.in_time_zone("Eastern Time (US & Canada)").strftime('%b %e, %l:%M %p') }" %>
  </div>
  <div class="feed__content-body">
    <%= yield %>
  </div>
  <div class="feed__content-corner">
    <%= link_to "Comment", nil, :class => "js-feed-comment" %>
  </div>
