<div class="user-prof">
  <div class="user-prof__cover-photo">
    prof photo
    <div style="" class="prof__message">
      <%= button_to "Message", nil, :class => "js-msg__button button__btn button__btn--gray" %>
    </div>
    <div class="bus-prof__follow">
      <%= follow_button(current_user, @default_entity, :class =>  "button__form button__login", :style => "width: auto !important") %>
    </div>
  </div>
  <div class="feed">
    <% if !@posts.empty? %>
      <%= render :partial => "me/posts/list", locals: {
            posts: @posts,
            opt: {}
          }%>
    <% else %>
      This guy doesn't have any posts yet!
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="js-msg__modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="feed__entry-inner feed__entry-inner--left">
          <%= thumb(@default_entity, class: "thumb"){|t| image_tag t} %>
        </div>
        <div class="feed__entry-inner feed__entry-inner--middle">
          <div class="feed__entry-inner-title js-form-name">
            <%= @default_entity.name %>
          </div>
          <%= form_for [@default_entity, Message.new], :html => {
                       
                        } do |f| %>
            <div class="feed__entry-inner-main">
              <%= f.text_area :content, :placeholder => "Enter a message", :rows => (3), :class => "feed__entry-input" %>
            </div>
            <div class="feed__form-bottom">
              <%= render "me/shared/entity_select" %>
              <div class="feed__form-send">
                <%= f.submit "Send", :class => "feed__button button__form ", :style => "margin-top: 0 !important" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
