<div class="table-responsive">
  <table class="table table-condensed table__admin">
    <thead>
      <tr>
        <th><%= link_to_sort "ID", :sort => :id %></th>
        <th><%= link_to_sort "Email", :sort => :email %></th>
        <th><%= link_to_sort "Name", :sort => :name %></th>
        <th><%= link_to_sort "Date", :sort => :created_at  %></th>
        <th>Businesses</th>
        <th>Connections</th>
        <th>Photo</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.created_at.to_formatted_s(:short)  %></td>
          <td><%=   %></td>
          <td><%=   %></td>
          <td><%= thumb(user, class: "thumb-small"){|t| image_tag t} %></td>
          <td><%= button_to 'View', [:admin, user], method: :get, :class => "btn btn-primary"%>
          </td>
          <td><%= button_to 'Delete', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>