<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <%= render 'shared/top_bar_content' %>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="<%= active_class(admin_emails_path) %>">
                        <%= link_to 'Emails', admin_emails_path %>
                    </li>
                    <li class="<%= active_class(admin_users_path) %>">
                        <%= link_to 'Users', admin_users_path %>
                    </li>
                    <li class="<%= active_class(admin_businesses_path) %>">
                        <%= link_to 'Businesses', admin_businesses_path %>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div class="page-wrapper">
            <%= yield %>
        </div><!-- /#page-wrapper -->

    </div>