<div class="modal-body signup-modal-body-landing">
  <%= bootstrap_form_for([:me, @business], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8") do |f|%>
    <%= f.text_field :name %>
    <%= f.text_field :website %>
    <%= f.fields_for :tags do |t| %>
      <%= t.text_field :name, :label => "Tags", :id => "js-business-tags" %>
    <% end %>
    <%= f.text_field :address %>
    <%= f.text_field :city %>
    <%= f.text_field :state %>
    <%= f.text_field :zip %>
    <%= f.text_area :description %>

    <div class="modal-footer">

      <div><%= f.submit "Submit", :class => "btn btn-primary" %></div>
    </div>

  <% end %>
</div>