 <div class="container-fluid container-bottom__temp lnd">

        <% LANDING['sections'].each_with_index do |info, i| %>
          <div class="lnd__item">
            <div style="position: relative" class="lnd__item-title">
              <span > 
                <%= fa_icon info["icon"] %>
                <%= info["title"] %>
              </span>
            </div>

            <div class="lnd__item-body">
              <div class="row">
                <div class="col-lg-6 col-sm-8 col-xs-12  center-block" style="float:none;">
                  <%= info["body"] %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
  
      <div class="about__container">
        <div class="about__title">
          ABOUT US
        </div>
        <div class="">

          

          <div class="row row-centered  about__body">

            <div class="col-sm-5 col-xs-15 col-centered about__item  center-block text-center">

              <div class="about__item-image">
                <%=image_tag 'default_person.png' %>
              </div>

              <div >
                <%= LANDING["about"]["justin"] %>
              </div>

            </div>

            <div class="col-sm-5  col-xs-15 col-centered about__item  center-block text-center">

              <div class="about__item-image">
                <%=image_tag 'default_person.png' %>
              </div>
                <%= LANDING["about"]["daniel"] %>
              </div>

            </div>

          </div>
        </div>
      </div>
   <!--  </div> -->