<!-- Navigation -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <%= yield :top %>

</nav>

<%= content_tag :div, :class => ("outer__profile") do %>
  
  <div  class="container__profile container__profile--left" style="overflow: hidden">
    <div class="sidebar">
      <ul class="nav navbar-nav side-nav side-nav-inverse">
        <% PROFILE[side].each do |bar| %>
          <%= content_tag "li", 
          :class => active_class(send_or_nil(bar["path"], current_user)) do %>
            <% @target = !bar["angular"] ? {:target => "_self"} : nil %>
            <%= link_to send_or_nil(bar["path"]), {:target => "_self"} do %>  
            <%= bar["title"] %>
              <% if bar["angular"] %>
                <span class="badge pull-right">SideBar.{{<%=bar["angular"]%>()}}</span>  
              <% else %>
                <%= show_badge(quant_from_method(bar["badge"])) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <% if angular %>
    <span  ng-controller="ProfileController">
  <% else %>
    <span>
  <% end %>

  <% if right_bar %>
    <div class="container__profile container__profile--middle">
      <div class="tab_container"  ng-switch="SideBar.tabBarVisible">
        <div ng-switch-when="true">
          <div ng-include="'tab_bar.html'"></div> 
        </div> 
        <div ng-switch-when="false">
          <div ng-include="'empty_tab_bar.html'"></div> 
        </div> 

      </div>
      <%= yield %>
    </div>
    <div class="container__profile container__profile--right" >
      <div ng-include="SideBar.rightBarTemplate"></div>
    </div>
  <% else %>
    <div style="padding-top: 10px; margin-top: 80px; width: 75%" class="container__profile container__profile--full">
      <%= yield %>
    </div>
  <% end %>
</div>
<% end %>
