<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8", html: {class: "form__reg"}) do |f| %>
  <%= devise_error_messages! if false %>
  <%= f.input :email, label: false,
           placeholder: "EMAIL*",  
          input_html: { class: 'input__form-reg' }, 
          wrapper_html: {class: "padding__form nowrap"},
           :validate => true,
           :error_html => {:class => "error__form"} %>
  <%= f.input :first_name, label: false, placeholder: "FIRST NAME*",
            input_html: { class: 'input__form-reg' },
            wrapper_html: {class: "padding__form nowrap"} %>
  <%= f.input :last_name,  label: false, placeholder: "LAST NAME*",  
          input_html: { class: 'input__form-reg' },
            wrapper_html: {class: "padding__form nowrap"} %>
  <%= f.input :zip,  label: false, 
          placeholder: "ZIP*",  
          input_html: { class: 'input__form-reg' },
          wrapper_html: {class: "padding__form nowrap"} %>
  <div class="check-container__form-reg">
    <div class="checkboxFive">
      <%= f.input_field  :is_veteran, as: :boolean, 
               :id => "checkboxFiveInput",

              
             boolean_style: :inline,
             label: false
              %>
      <label for="checkboxFiveInput"></label>
    </div>
    <div class="check-label__form-reg <%=veteran_error_helper(resource)%>">
      I certify that I am a veteran of the US Armed Forces*
    </div>
  </div>
  <%= f.input :password, 
            autocomplete: "off",  label: false, 
            placeholder: "PASSWORD*",  
            input_html: { class: 'input__form-reg' },
            wrapper_html: {class: "padding__form nowrap"} %>
  <%= f.input :password, 
          autocomplete: "off",  label: false, 
          placeholder: "RETYPE PASSWORD*",  
          input_html: { class: 'input__form-reg' },
            wrapper_html: {class: "padding__form nowrap"} %>
  <%= f.submit "CREATE ACCOUNT", :class => "input__form-reg button__form"  %>
  <div class="button-mandatory__form-reg">
    * fields are mandatory
  </div>
<% end %>
