
 <%= render :layout => 'layouts/admin_profile' do %>


  <div class="panel-heading">
          <h3 class="panel-title">

            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="#">Points <span class="badge">
                <%= @notifications %>
              </span></a></li>
              
            </ul>

          </h3>
        </div>
        
        <div class="panel-body">
         <div class="panel-heading">
                 <h3 class="panel-title">

                  <ul class="nav nav-pills" role="tablist">

                  <li role="presentation">
                    <!-- <a href="#">Posts 
                      <span class=" badge"></span>
                    </a> -->
                    <%= link_to [:admin, :alerts, :points, :posts, {reverse: false, sort: :total_points}] do %>
                      Posts <span class=" badge">
                      <%=@rejected_post_count if @rejected_post_count > 0 %></span>
                    <% end %>

                  </li>

                  <li role="presentation">
                    <%= link_to [:admin, :alerts, :points, :users, {reverse: false, sort: :all_added_points}]  do %>
                    Users
                    <span class=" badge">
                      <%= @rejected_user_count if @rejected_user_count > 0 %></span>
                    <% end %>
                  </li>

                </ul>
                   

                 </h3>
               </div>
               <div class="panel-body">
                 <%= yield %>
               </div>
        </div>

<% end %>