<%= content_for :devise do %>
  <div style="position: relative" class="reg">
    <div class="top__reg">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <%= image_tag 'logo_nm.png' %>

        </div>
        <div class="col-lg-4 login__top">
          <div class="signup__already"> Already have an account? </div>
          <%= render "users/sign_in_form" if !current_user%>

        </div>
      </div>

      <!-- <div class="login__top">

      </div> -->
    </div>

    <div style="position: realtive" class="body__reg">
      <%= yield %>
    </div>

    <div class="bottom__reg">

    </div> 
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
