
<%= content_for :app do %>
  <div class="reg">
    <div class="top__reg">
      <%= image_tag 'logo_nm.png' %>

      <div class="login__top">
        <%= simple_form_for(:user, :url => user_session_path,html: {class: "form__login"}
        ) do |f| %>
         <%= f.input :email, label: false, placeholder: "EMAIL" %>
         <%= f.input :password, autocomplete: "off", label: false, placeholder: "PASSWORD" %>
          <%= f.submit "Log in", :class=> "button__login" %>
        <% end %>

      </div>
    </div>

  

    <div class="body__reg">
      <%= yield %>
      <!-- /#wrapper -->

    </div>

    <div class="bottom__reg">

    </div> 
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
